{% extends base_generic %}
{% load static %}

{% block content %}
  <h1>YouTube Index</h1>
  <p>This is a YouTube Index.</p>

  <h2>Content</h2>
  <ul>
    <li><strong>Links:</strong> {{ num_links }}</li>
    <li><strong>Channels:</strong> {{ num_channels }}</li>
  </ul>

  <h2>Details</h2>
  With this server you can:
  <ul>
    <li>create a limited YouTube replacement. No algorithm, no distractions</li>
    <li>you can choose which videos are important to you</li>
    <li>you can share your playlist with a friend</li>
    <li>you can create your own 'database' of video links. You decide what is important</li>
    <li>you do not have to install anything besides this package, no databases, no setup is required</li>
    <li>just download source and install on your system: github</li>
  </ul>

  <h2>Your own</h2>
  <ul>
    <li>You can create your own instance: <a href="https://github.com/rumca-js/Django-YouTube-App">GitHub</a></li>
    <li>You can edit templates, styles</li>
    <li>You can change icons: <a href="https://icons8.com/icons/">https://icons8.com/icons/</a></li>
  </ul>
  
  <p>
  Let the refresh button F5 be with you!
  </p>
  
  <p>
  <img src="{% static 'catalog/images/piesel.jpg' %}" width="30%">
  </p>

{% endblock %}
