{% extends "base_generic.html" %}

{% block content %}
  <iframe width="560" height="315" src="{{ object.get_embed_link }}" frameborder="0" allowfullscreen></iframe>
  <h1>{{ object.title }}</h1>

  <p><strong>Url:</strong> <a href="{{ object.url }}">{{ object.url }}</a></p>
  <p><strong>Artist:</strong> {{ object.artist }}</p>
  <p><strong>Album:</strong> {{ object.album }}</p>
  <p><strong>Category:</strong> {{ object.category }}</p>
  <p><strong>Subcategory:</strong> {{ object.subcategory }}</p>

  {% if user.is_authenticated %}
    <a href="/catalog/download_music/{{ object.id }}">Download music</a>
    <a href="/catalog/download_video/{{ object.id }}">Download video</a>
    <a href="/catalog/edit_video/{{ object.id }}">Edit video</a>
    <a href="/catalog/removelink/{{ object.id }}">Remove link</a>
  {% endif %}
{% endblock %}
